<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <header>
    <h1>
      <i class="fa-solid fa-star-of-life"></i> Todo App <i class="fa-solid fa-star-of-life"></i>
    </h1>
    <p>Organize your tasks, organize your life.</p>
  </header>

  @if (isUpdateModeActive) {
  <div class="input-group">
    <input type="text" [(ngModel)]="updatedTodo.text" placeholder="Update a todo..." />
    <button class="add-btn" (click)="updateTodo()"><i class="fas fa-edit"></i> Update</button>
  </div>
  } @else {
  <div class="input-group">
    <input type="text" [(ngModel)]="todo" placeholder="Add a new todo..." />
    <button class="add-btn" (click)="saveTodo()"><i class="fas fa-plus"></i> Add</button>
  </div>
  }

  <ul class="todo-list">
    @for (todo of todos; track todo) {
    <li class="todo-item">
      <div class="item-left">
        <label class="custom-checkbox">
          <input type="checkbox" [checked]="todo.isCompleted ? true : false" (click)="mark($index)" />
          <span class="checkmark"></span>
        </label>
        <span class="todo-text">{{ todo.text }}</span>
      </div>
      <div class="item-actions">
        <button class="btn-icon btn-edit" (click)="getTodo($index)"><i class="fas fa-pen"></i></button>
        <button class="btn-icon btn-delete" (click)="deleteTodo($index)"><i class="fas fa-trash"></i></button>
      </div>
    </li>
    }
  </ul>

  <div class="footer">
    <button class="clear-btn" (click)="deleteAllTodos()">Delete all todos</button>
  </div>
</div>
